@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import 'package:grid/grid';
@import 'colors';
* {
    font-family: 'Ubuntu', sans-serif;
}

html, body {
    margin: 0;
}
/*
.row {
    .col {
        border: 1px solid black;
    }
}
*/