@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import 'package:grid/grid';
@import '../lib/colors.scss';
* {
    font-family: 'Ubuntu', sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    h1 {
        color: black;
        font-weight: bolder;
    }
    .width-100 {
        width: 100%;
    }
    
}

html
{
    font-size:16px;
}

h1.large
{
    font-size: 4rem;
}

/*
.row {
    .col {
        border: 1px solid black;
    }
}
*/